@import './footer';

* {
  box-sizing: border-box;
}

.app-container {
  background-image: linear-gradient(114.2deg, #FF5964 22.6%, #63C7B2 67.7%);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  letter-spacing: 0.3em;

  h1 {
    background-image: linear-gradient(114.2deg, #63C7B2 10%, #0E273C 50%, #FF5964 67.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(2vw + 3vh + .5vmin);
  }
}

main {
  flex: 1 1 auto;
  padding: 1vh 0 1vh 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .change-location {
    // padding: 2vh 0 1vh 0;
    input {
      outline: none;
      border: none;
      min-width: 20vw;
    }
  }

  .card {
    letter-spacing: 0.2em;
    max-width: 400px;
  }
}