@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
    background-size: cover;
    background-image: url(img/8.jpg);
}

.box {
    color: black;
    width: 600px;
    height: auto;
    margin: 150px auto auto auto;
    padding: 25px;

}

#timezone {
    font-size: 40px;
}

#temperature {
    font-size: 30px;
}

#weather,
#summary {
    font-size: 35px;
}

hr {
    border: none;
    height: 2px;
    color: #000;
    background-color: #111;
    /* Modern Browsers */
}

button {
    background-color: aqua;
    border: none;
    color: black;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 60px;
    height: 30px;
    border-radius: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
}

button:hover {
    background: black;
    color: aqua;
}

body #footer {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #0b132b;
    position: absolute;
    font-size: 100%;
    width: 100%;
    bottom: 0;
    padding: 0.8%;
}

#footer a:hover {
    text-decoration: none;
}